
  img{
    max-width: 100%;
  }
  a{
    color: inherit;
    text-decoration: none;
    transition: 0.4s;
  }
  ul li,
  ol li{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  button{
    display: block;
    border:none;
    background: none;
    cursor: pointer;
    transition: .4s;
  }

  html{
    box-sizing:border-box;
  }
  *, * ::before, *::after{
    box-sizing: inherit
  }
  body{
    color:black;
    width: 100%;
    height: 100%;
    font-family: 'IM Fell Great Primer SC', serif;
    }
    .container-xxl{
      height: 100vh;
      align-items: center;
      margin: 0 auto;
      width: 100%;
      max-width: 1300px;
      padding: 0 15px;
      position: relative;
      width: 1600px;
      height: 2775px;
  }
    .main_page{
        height: 100vh;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        max-width: 1120px;
        padding: 0 15px;
    }



/*Шапка*/
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 38px;
    flex-direction: row;
}

.shop_packet:hover{
  color: rgba(200, 164, 177, 1);
    transition: .1s;
    cursor: pointer;
}
.burger_menu:hover{
  color: rgba(200, 164, 177, 1);
    transition: .1s;
    cursor: pointer;
}
.header_logo{
  align-items:center;
}
/* конец шапки сайтa */

/*блок с кругло кнопкой и заголовком*/
.h1_block{

    width: 100%;
    max-width: 427px;
    height: 76px;
    left: 260px;
    top: 200px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 40px;
    line-height: 48px;
    text-align: right;
    text-transform: uppercase;
}
.h1_block{
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 51px;
justify-content: space-between;
width: 427px;
height: 236px;

flex: none;
order: 0;
flex-grow: 0;
}
.h1_block>button{
width: 109px;
height: 109px;
left: 441px;
top: 390px;

}
.h1_block>button:hover{
  background: rgba(241, 225, 231, 0.77);
border-radius: 100px;
}
/*блок с кругло кнопкой и заголовком*/
.slider_h1{

  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 38px;
  flex-direction: column;
}
.col-4{
  padding-top: 100px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}


.card{
  border:none;
  max-width: 255px;
  width:100%;
  height: auto;
  margin: 0 auto;
}
.card>img{
width: 255px;
height: 345px;
left: 0px;
top: 0px;
filter: drop-shadow(0px 4px 4px rgba(253, 223, 248, 0.71));
}
.card-title{
  width: 256px;
height: 19px;
padding-top: 10px;
padding-bottom: 10px;
  font-family: 'IM FELL Great Primer SC';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.3em;
text-transform: uppercase;
}
.card-body>p{
  width: 134px;
height: 18px;

font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 16px;
line-height: 19px;
text-transform: uppercase;
color: #000000;
}
.material-symbols-outlined{
  color: #000000;
}
.material-symbols-outlined:hover{
  color: rgba(200, 164, 177, 1);
  transition: .1s;
  cursor: pointer;
}
.Icons:hover{
  color: rgba(200, 164, 177, 1);
  transition: .1s;
  cursor: pointer;
}



/*Конец стилей для первого блока*/


/*Начало стилей для второго блока (new)*/
.new{position: absolute;
  width: 1600px;
  height: 547px;}
.new_content{
  padding-top: 95px;
  padding-bottom: 95px;
  align-content:center;
  padding-left: 242px;
  margin-bottom: 0 auto;
}
.p_new>p{
font-family: 'IM FELL Great Primer SC';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.3em;
text-transform: uppercase;
position:absolute;
color: #000000;
}
.card_new{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 352px;
  height: 384px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
}
.card_new>img{
  position: absolute;
  width: 350px;
  height: 384px;
  filter: drop-shadow(0px 4px 4px rgba(253, 223, 248, 0.71));
  flex: none;
  order: 0;
  flex-grow: 0;
  left: 0px;
  top: 0px;
  }
/*End section new*/


.mail{
  position: absolute;
  width: 1087px;
  height: 167px;
  left: 265px;
  top: 1150px;
}
.mail_blok>p{
  width: 363px;
height: 24px;
font-family: 'IM FELL Great Primer SC';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.3em;
text-transform: uppercase;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
}
.form-control{
  border: none;
  background:none;
}
.mail_blok{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 384px;
height: 166px;
}
.bt_mail{
  width: 57px;
  height: 57px;
  flex: none;
  order: 3;
  flex-grow: 0;
  align-content:center;
}
.bt_mail:hover{
  background: rgba(241, 225, 231, 0.77);
  border-radius: 100px;
}
.mail_photo{
 
width: 441px;
height: 167px;
flex: none;
order: 1;
flex-grow: 0;

}
.mail{
  position: absolute;
width: 1087px;
height: 293px;
left: 100px;
padding-top: 95px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

}




.info{
  position: absolute;
width: 1600px;
height: 269px;
left: 0px;
top: 1500px;
}

.info>p{

  font-family: 'IM FELL Great Primer SC';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  letter-spacing: 0.3em;
  text-transform: uppercase;

}


footer{
  position: absolute;
height: 375px;
left: 0px;
top: 2000px;
background: rgba(183, 136, 153, 0.77);
margin: 0 auto;
width: 100%;
left: 0;
bottom: 0;
padding: 0 15px;}